<div class="container">
    <h1>Seja bem vindo futuro melhor amigo!!</h1>
<P>
    Estou aceitando cadastro para melhores amigos, se você deseja sê-lo, cadastre-se clicando no botão abaixo!! <br>
    Recompensas: Sou um amigo extrovertido, amigo para toda hora....você não irá se arrepender, te acompanho na balada, naquele "drinkzinho" ou para te ajudar a dar aquele perdido na esposa!! <br> <br>

    Está esperando o que?!?! clica logo nesse botão rapaz!!!

    Mensalidades à partir de uma brejinha gelada! <br><br>
    
    
</P>
        
    <button (click)="open()">Cadastre-se!</button>
    
</div>


